{{include('admin/header.html')}}
<link rel="stylesheet" href="{{constant('PUBLIC_URL')}}/vendor/md-master/css/style.css" />
 <link rel="stylesheet" href="{{constant('PUBLIC_URL')}}/vendor/md-master/css/editormd.css" />
<body>
<div class="ibox-content">
<div class="panel-heading">
	<form  action="/admin/OrderSystem/dispatch" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-1 control-label">标题</label>
			<div class="col-sm-4">
				<input type="text" name="title" placeholder="文章标题" class="form-control" value="{{article.title}}">
			</div>
			<div class="col-sm-3">
				<select name="status">
					<option {% if article.status==1 %}selected {% endif %} value="1">正常</option>
					<option {% if article.status==2 %}selected {% endif %} value="2">删除</option>
					<option {% if article.status==3 %}selected {% endif %} value="3">更多文章</option>
					<option {% if article.status==4 %}selected {% endif %} value="4">生活随笔</option>
				</select>
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-success" id="edit" style="background-color:#5cb85c;">保存</button>
				<a href="/admin/category/categorys?cate={{type}}" class="btn btn-default">取消</a>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">描述</label>
			<div class="col-sm-6">
				<textarea class="form-control" name="desc" style="height:100px;" placeholder="描述">{{article.description}}</textarea>
			</div>
			<div class="col-sm-4">
				<img src="" alt="..." class="img-thumbnail" id="img" style="width:100px;height:100px;">
				<input type="file" class="btn btn-default" value="" id="uplode_file" name="uplode_file" style="width:95px;display:inline-block;"/>
			</div>
		</div>
	
	</form>
</div>
<div>

    <div id="test-editormd">
        <textarea style="display:none;" id="article">{{article.content}}</textarea>
    </div>

</div>
{{include('admin/footer.html')}}
<script src="{{constant('PUBLIC_URL')}}/vendor/md-master/editormd.min.js"></script>
<script src="{{constant('PUBLIC_URL')}}/js/admin/public.js"></script>
<script src="{{constant('PUBLIC_URL')}}/js/admin/file.js?e33"></script>
<script>
var type = "{{type}}";
var id = "{{id}}";
var testEditor;

$(function() {
    testEditor = editormd("test-editormd", {
        width   : "90%",
        height  : 640,
        syncScrolling : "single",
        path    : "{{constant('PUBLIC_URL')}}/vendor/md-master/lib/"
    });
    
});
</script>
