	<div id="footer">
		<p class="last"> {{'now'|date('Y-m-d')}} clmblog.com</p>
	</div> 		
   <!-- js placed at the end of the document so the pages load faster -->
    <script src="{{constant('PUBLIC_URL')}}/js/jquery-2.1.4.min.js"></script>
    <script src="{{constant('PUBLIC_URL')}}/js/bootstrap.min.js"></script>
    <script src="{{constant('PUBLIC_URL')}}/js/admin/public.js"></script>
    <script src="{{constant('PUBLIC_URL')}}/js/admin/global.js"></script>
    <script src="{{constant('PUBLIC_URL')}}/js/admin/modal.js"></script>

  </body>
</html>