<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="这是一个php博客系统后台">
    <meta name="author" content="clm">
    <meta name="keyword" content="博客，php博客，php">
    <link rel="shortcut icon" href="{{constant('PUBLIC_URL')}}/images/icon/favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{constant('PUBLIC_URL')}}/css/bootstrap.min.css" rel="stylesheet">
        
    <link href="{{constant('PUBLIC_URL')}}/css/admin/style.css" rel="stylesheet">

  </head>